git+https://github.com/Ledenel/py-tree-sitter.git
tqdm
torch
dpu-utils
sentencepiece
psutil
requests
ring
pympler
setupextras
pandas
snakemake
seqtools
PyMonad
dpu_utils
wandb
transformers
pytorch-lightning
matplotlib
jupyter

