--find-links https://download.pytorch.org/whl/torch_stable.html
git+https://github.com/Ledenel/py-tree-sitter.git
tqdm
torch==1.5.1+cpu
dpu-utils
sentencepiece
psutil
requests
ring
pympler
setupextras
pandas
snakemake
seqtools
PyMonad
dpu_utils
wandb
transformers
pytorch-lightning
matplotlib
jupyter
boto3
xarray
